fastapi
uvicorn
python-multipart
sqlalchemy
pydantic
pydantic-settings
langchain
langchain-community
langchain-text-splitters
langchain-huggingface
langchain-core
langchain-openai
langchain-groq
langchain-google-genai
langchain-anthropic
chromadb
weaviate-client
faiss-cpu
PyMuPDF
pdfplumber
python-docx
spacy
nltk
scikit-learn
fuzzywuzzy
python-Levenshtein
python-dotenv
httpx
numpy
watchfiles
sentence-transformers
pypdf
